In [1]:
import numpy as np

In [2]:
revenue = np.array([[180, 200, 220], [24, 36, 40], [12, 18, 20]])
expenses = np.array([[80, 90, 100], [10, 16, 20], [8, 10, 10]])

In [3]:
profit = revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

In [4]:
price_per_unit = np.array([1000, 400, 1200])
units = np.array([[30, 40, 50], [5, 10, 15], [2, 5, 7]])

In [7]:
price_per_unit*units

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

In [11]:
price_per_unit2 = np.array([[1000, 400, 1200], [1000, 400, 1200], [1000, 400, 1200]])
units2 = np.array([[30, 40, 50], [5, 10, 15], [2, 5, 7]])
price_per_unit2*units2

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

In [13]:
np.dot(price_per_unit, units)

array([34400, 50000, 64400])

## Exercise 1: 
Convert revenues from us dollars to rupees (inr)

In [14]:
revenues = np.array([[200, 220, 250], [68, 79, 105], [110, 140, 180], [80, 85, 90]])
revenues

array([[200, 220, 250],
       [ 68,  79, 105],
       [110, 140, 180],
       [ 80,  85,  90]])

In [15]:
revenues_inr = revenues*75
revenues_inr

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])

## Exercise 2:
Divine Flowers is a flower shop that sells different types of flowers. Below is the table showing how many flowers of each type they sold in different months. Also given are the prices of one flower each. Using this find out their total sales in every month.

In [18]:
units = np.array([[50, 60, 25], [10, 13, 5], [40, 70, 52]])
price_per_unit = np.array([20, 30, 15])
units * price_per_unit

array([[1000, 1800,  375],
       [ 200,  390,   75],
       [ 800, 2100,  780]])

In [19]:
np.dot(price_per_unit, units)

array([1900, 2640, 1430])